In [1]:
from credmark.cmf.engine.model_loader import ModelLoader
from credmark.cmf.engine.context import EngineModelContext

from credmark.dto import EmptyInput

from credmark.cmf.types import Contract, Token

from credmark.cmf.types.ledger import (
    BlockTable, ContractTable,
    LogTable, ReceiptTable, TokenTable, TokenTransferTable,
    TraceTable, TransactionTable, LedgerTable,
    LedgerAggregate, LedgerModelOutput
)

In [2]:
model_loader = ModelLoader(['./models'], None, True)

params = {'chain_id': 1,
          'block_number': None,
          'model_loader': model_loader,
          'chain_to_provider_url': {'1': 'https://eth-mainnet.alchemyapi.io/v2/4HREehwJhXq-fkm1llCDGol-swXEXj0L'},
          'api_url': None,
          'run_id': None,
          'console': True,
         }
context = EngineModelContext.create_context(**params)

In [3]:
context.block_number

14867620

In [4]:
context.chain_id

1

In [5]:
context.web3

In [6]:
context.web3.eth.get_balance('0xd3CdA913deB6f67967B99D67aCDFa1712C293601')

1790191567590102228

In [7]:
usdt = Token(address='0xdAC17F958D2ee523a2206206994597C13D831ec7')
print(usdt.decimals)
context.run_model('chainlink.price-usd', input=usdt)

6

{'src': 'chainlink.price-by-registry|USDT / USD|0xa964273552C1dBa201f5f000215F5BD5576e8f93|v4|True|t:18662s|r:0',
 'price': 0.9993}

In [8]:
(context.ledger.get_transactions(columns=[TransactionTable.Columns.BLOCK_HASH,
                                          TransactionTable.Columns.FROM_ADDRESS,
                                          TransactionTable.Columns.TO_ADDRESS,
                                          TransactionTable.Columns.VALUE],
                                 where=f'{TransactionTable.Columns.BLOCK_NUMBER} = 14861063',
                                 order_by=TransactionTable.Columns.BLOCK_TIMESTAMP,
                                 limit='5')
 .to_dataframe())

,block_hash,from_address,to_address,value
0,0xb7bf14ba8e4101a59a2116dd225e780593f823edf2ab...,0x4aa042f28ae6e3ee714d8e4435dc7110f7e3c3c7,0x3dd98c8a089dbcff7e8fc8d4f532bd493501ab7f,0
1,0xb7bf14ba8e4101a59a2116dd225e780593f823edf2ab...,0x30cb2c51fc4f031fa5f326d334e1f5da00e19ab5,0x1111111254fb6c44bac0bed2854e76f90643097d,0
2,0xb7bf14ba8e4101a59a2116dd225e780593f823edf2ab...,0xeb55a78c79b91719f6817855c5ad43a7aa0bf08c,0xdac17f958d2ee523a2206206994597c13d831ec7,0
3,0xb7bf14ba8e4101a59a2116dd225e780593f823edf2ab...,0x1840fa4d4e24fae28fcdf24157ea9af119fe999e,0x0039a4124f3917f4a93747d0ce43434a10fc70bb,213155603590621150
4,0xb7bf14ba8e4101a59a2116dd225e780593f823edf2ab...,0xa7efae728d2936e78bda97dc267687568dd593f3,0x268eaa7fdc3e879d11380176c4c1f16f5b25d999,198930000000000000