In [18]:
from credmark.cmf.ipython import create_cmf
from credmark.cmf.types import Token, Contract, Address, Account, BlockNumber, Records, JoinType
import requests
import pandas as pd
from dotenv import load_dotenv
import os

cmf_param = {
    'chain_id': 1,
}

context, _model_loader = create_cmf(cmf_param)

In [19]:
rain_mainnet_factory = Contract('0x389c6f04D39fF038cC99F94BcE338D2f5Eb64a67')
rain_factory_proxy = Contract('0x31EBf70312f488D0bdAc374b340f0D01dBf153B5')
rain_controller = Contract('0xE5D3d7da4b24bc9D2FDA0e206680CD8A00C0FeBD')
usdc_addr = Token("USDC").address

load_dotenv()

RAIN_DEVELOPER_API_KEY = os.environ.get('RAIN_DEVELOPER_API_KEY')
RAIN_CARD_SPEND_ENDPOINT = os.environ.get('RAIN_CARD_SPEND_ENDPOINT')


start_date = BlockNumber.from_ymd(2023, 4, 21)
current_date=context.block_number
print(start_date)
print(current_date)

17091074
18879322

In [9]:
# rain_mainnet_factory.ledger.events.NewRainCollateral
rain_factory_proxy.ledger.events.OwnershipTransferred

LedgerQueryContractEvents(['block_number', 'block_timestamp', 'contract_address', 'log_index', 'signature', 'transaction_hash', 'evt_previousOwner', 'evt_newOwner'])

In [10]:
with rain_factory_proxy.ledger.events.OwnershipTransferred as q:
    contracts = (q.select(
        columns=[
            q.BLOCK_TIMESTAMP,
        ],
        limit=1000,
        order_by=q.BLOCK_TIMESTAMP.desc()
    )).to_dataframe()

print(contracts)

Empty DataFrame
Columns: []
Index: []

In [75]:
rain_controller.ledger.events.Liquidation

LedgerQueryContractEvents(['block_number', 'block_timestamp', 'contract_address', 'log_index', 'signature', 'transaction_hash', 'evt__collateralProxy', 'evt__assets', 'evt__amounts'])

In [4]:
with rain_controller.ledger.events.Liquidation as q:
    liquidations = (q.select(
        columns=[
            q.EVT__COLLATERALPROXY,
            q.EVT__AMOUNTS
        ],
        where=q.BLOCK_NUMBER.between_(start_date, current_date)
    )).to_dataframe()

display(liquidations)

                           evt__collateralProxy     evt__amounts
0    0x7f1bb3f9ca503c3132b45669e75edc79f4baabb9    ["253900000"]
1    0x992b2a3a73b06c6349bd242ac72b40ed518f1b4f    ["463510000"]
2    0x89a2cca572e71066e70a615630a15857d9b797a7    ["202950000"]
3    0x8fb0d9b49b8493cf77c6ae70d40d34a81078f29a  ["15264070000"]
4    0x8a93abe5b96d0bfe71304817f0cc98bff0b8799e   ["1765510000"]
..                                          ...              ...
217  0x5c82f4928899a91752083dd8f1b6d8bf23d4eeb2   ["1004060000"]
218  0xa9391ecfa305a260d524011586fbf50168a1078e      ["5870000"]
219  0x9bf0fa5bbd9448190c9cbfe3ade8d7466913d861  ["29385880000"]
220  0xbaf9c4b4318aefcd3a7c2abec68efe567c797d74     ["50340000"]
221  0xbaf9c4b4318aefcd3a7c2abec68efe567c797d74     ["50340000"]

[222 rows x 2 columns]

In [76]:
rain_controller.ledger.events.Payment

LedgerQueryContractEvents(['block_number', 'block_timestamp', 'contract_address', 'log_index', 'signature', 'transaction_hash', 'evt__collateralProxy', 'evt__assets', 'evt__amounts'])

In [5]:
with rain_controller.ledger.events.Payment as q:
    payments = (q.select(
        columns=[
            q.EVT__COLLATERALPROXY,
            q.EVT__AMOUNTS
        ],
        where=q.BLOCK_NUMBER.between_(start_date, current_date)
    )).to_dataframe()

display(payments)

                         evt__collateralProxy     evt__amounts
0  0x96b0f723cdc78332c2cf201568db22f6e556feb2     ["51450000"]
1  0x443bff886be2658655a32c1b2008fb432d7df0ce   ["5000000000"]
2  0x9bf0fa5bbd9448190c9cbfe3ade8d7466913d861      ["1000000"]
3  0x9bf0fa5bbd9448190c9cbfe3ade8d7466913d861      ["1000000"]
4  0xfc5bdc681bbd87f81b668db6b4541fc67e0d0039  ["19377230000"]
5  0xbaf9c4b4318aefcd3a7c2abec68efe567c797d74      ["1000000"]

In [79]:
rain_controller.ledger.events.Withdrawal

LedgerQueryContractEvents(['block_number', 'block_timestamp', 'contract_address', 'log_index', 'signature', 'transaction_hash', 'evt__collateralProxy', 'evt__asset', 'evt__amount'])

In [6]:
with rain_controller.ledger.events.Withdrawal as q:
    withdrawals = (q.select(
        columns=[
            q.EVT__COLLATERALPROXY,
            q.EVT__AMOUNT
        ],
        where=q.BLOCK_NUMBER.between_(start_date, current_date)
    )).to_dataframe()

display(withdrawals)

                          evt__collateralProxy   evt__amount
0   0xa22ed5dd6fcea83cf3463a999f0f04857b6a6e70   56500000000
1   0x443bff886be2658655a32c1b2008fb432d7df0ce   30060000000
2   0xbfce5d28299094075f1aec692ebbf147ff553fd4  125534300000
3   0x443bff886be2658655a32c1b2008fb432d7df0ce   30345500000
4   0xf9ab50a2ac37d0c1d72b4ca800b7906d15d6593d    7014000000
..                                         ...           ...
92  0xbaf9c4b4318aefcd3a7c2abec68efe567c797d74       1010000
93  0x9bf0fa5bbd9448190c9cbfe3ade8d7466913d861       1000000
94  0xbaf9c4b4318aefcd3a7c2abec68efe567c797d74       1000000
95  0xbaf9c4b4318aefcd3a7c2abec68efe567c797d74       1000000
96  0xbaf9c4b4318aefcd3a7c2abec68efe567c797d74       1000000

[97 rows x 2 columns]

In [20]:
def get_card_spend_dataframe():
    # Headers (if required)
    headers = {
        'API-Key': RAIN_DEVELOPER_API_KEY,
        'accept': 'application/json'
    }

    # Make the GET request
    response = requests.get(RAIN_CARD_SPEND_ENDPOINT, headers=headers)

    # Check if the request was successful
    if response.status_code == 200:
        # Process the response if successful
        data = response.json()
        print(data)
    else:
        # Handle errors (you can print or log the error response)
        print(f"Error: {response.status_code}")

    # create dataframe
    df = pd.DataFrame([data])

    # add date column
    df.insert(0, 'date', current_date)


    # drop dueBalance
    df = df.drop(columns=['dueBalance'])
    
    # add totalBalance
    df['totalBalance'] = df['pendingBalance'] + df['postedBalance']
    
    return df

In [21]:
latest_card_spend_df = get_card_spend_dataframe()

{'pendingBalance': 598753, 'postedBalance': 45042271, 'dueBalance': 127662}